<episerver.shell>
    <siteSettings rootPath="~/secure/UI/" />
    <modules autoDiscovery="Minimal" />
    <frameworkModules>
      <add name="Shell">
        <assemblies>
          <add assembly="EPiServer.Shell" />
          <add assembly="EPiServer.Shell.UI" />
          <add assembly="EPiServer.Templates.Public" />
        </assemblies>
      </add>
      <add name="CMS">
        <assemblies>
          <add assembly="EPiServer.Cms.Shell" />
          <add assembly="EPiServer.Cms.Shell.UI" />
          <add assembly="EPiServer.UI" />
        </assemblies>
      </add>
    </frameworkModules>
  </episerver.shell>